$default_shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
$default_line_height: 40px;
$default_border_radius: 20px;
%default_column_elem_settings {
    margin: 20px;
    box-shadow: $default_shadow;
    border-radius: $default_border_radius;
    line-height: $default_line_height;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    background: white;
}

#configurator_app {
    width: 100%;
    max-width: 1260px;
    min-width: 420px;
    margin: 10px auto 0 auto;
}

.mainLayer {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    flex-wrap: wrap;
}

.column {
    width: 400px;
    border-radius: 30px;
    background: white;
    box-shadow: $default_shadow;
    width: 400px;
    margin: 10px;
    h2 {
        @extend %default_column_elem_settings;
        text-align: center;
    }
    .module {
        @extend %default_column_elem_settings;
        text-align: center;
        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h2 {
                display: inline;
                margin: auto 10px;
            }
            div {
                display: flex;
            }
            button{
                text-align: center;
                align-content: center;
                font-size: 1.3rem;
                border-radius: 50%;
                width: 30px;
                border: none;
                outline-style: none;
                margin: 5px;
                transition: 0.3s ease;
                .fa-angle-down {
                    transition: transform 0.3s ease;
                }
            }
        }
        .content {
            text-align: left;
            margin: 0 13px;
            transition: max-height 0.3s;
            max-height: 0;
            overflow: hidden;
        }
    }
    .module.visible {
        .header button .fa-angle-down {
            // transform: rotate(-180deg);
            transform: scaleY(-1);
        }
        .content {
            max-height: 10em;
        }
    }
    .addModule {
        @extend %default_column_elem_settings;
        background: #fff;
        button {
            line-height: $default_line_height;
            border-radius: $default_border_radius;
            border: none;
            font-size: x-large;
            font-weight: bold;
            width: 100%;
            transition: 0.3s ease;
            display: block;
            outline-style: none;
            color: black;
            text-decoration: none;
            text-align: center;
        }
        .modules {
            transition: max-height 0.3s;
            max-height: 0;
            overflow: hidden;
            button {
                background: white;
                box-shadow: none;
            }
        }
    }
    .addModule:hover .modules {
        max-height: 10em;
    }
}

// Color settings

.blue {
    background: linear-gradient(135deg, #6599ff 0%, #3266cc 100%);
    .module,
    button,
    h2 {
        background: #f1f9ff;
    }
    button:hover,
    .modules button:hover {
        background: #91cfff;
    }
}

.orange {
    background: linear-gradient(135deg, #fe9900 0%, #ff7c00 100%);
    .module,
    button,
    h2 {
        background: #fff4c1;
    }
    button:hover,
    .modules button:hover {
        background: #ffe25f;
    }
}

.red {
    background: linear-gradient(135deg, #ff5e34 0%, #f63c01 100%);
    .module,
    button,
    h2 {
        background: #ffe1cb;
    }
    button:hover,
    .modules button:hover {
        background: #ffb078;
    }
}

textarea, pre {
    // margin: 10px;
    width: 100%;
}

.innerProps {
    margin-left: 20px;
    p {
        margin-left: -20px;
    }
    .select {
        min-width: 182px;
    }
}

// html {
//     background: black;
//     filter: invert(1) hue-rotate(180deg);
// }
